<h1>Ideas</h1>

<a href="/ideas/new" class="pull-right btn btn-light">
  + Add Idea
</a>

<ul>
  <% @ideas.each do |idea| %>
    <li><%= link_to idea.theory, idea %></li>
  <% end %>
</ul>


<h1>Personas</h1>

<a href="/personas/new" class="pull-right btn btn-light">
  + Add Persona
</a>

<ul>
  <% @personas.each do |persona| %>
    <li><%= link_to persona.name, persona %></li>
  <% end %>
</ul>


