<div class="row">
  <div class="col align-self-center">
    <h1>Start Ideating</h1>

    <% if flash[:errors] %>
      <div class="alert alert-danger">
        <% flash[:errors].each do |error| %>
          <%= error %><br />
        <% end %>
      </div>
    <% end %>

    <form action="/user" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="user[email]" class="form-control" id="email" value="<%= @user.email %>">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="user[password]" class="form-control" id="password">
      </div>
      <input type="submit" class="float-right btn btn-primary" value="Create Account">
      <a href="/session/new">Login</a>
    </form>
  </div>
</div>
