<div class="container">
  <div class="row">
    <div class="col">
      <a href="#" class="btn btn-light float-right">another <i class="fas fa-sync"></i></a>

      <h1>New Persona</h1>

      <%= render partial: "form" %>
    </div>
  </div>
</div>
